<div class="container mx-auto px-4 py-12">
  <div class="max-w-3xl mx-auto">
    <div class="card bg-base-100 shadow-lg">
      <div class="card-body p-8">
        <div class="max-w-3xl mx-auto px-4 py-6">
          <h1 class="text-xl font-bold mb-4">プライバシーポリシー</h1>
          
          <div class="mb-4">
            <p>
              SuppleHub（以下、「当サイト」といいます。）は、ユーザーの個人情報の重要性を認識し、以下の方針に基づき適切に取り扱います。
            </p>
          </div>
          
          <div class="space-y-4">
            <div>
              <h2 class="font-bold">1. 個人情報の取得方法</h2>
              <p>
                当サイトでは、ユーザーが新規登録や投稿を行う際に、氏名、メールアドレス、パスワードなどの個人情報を取得させていただきます。
              </p>
            </div>
            
            <div>
              <h2 class="font-bold">2. 個人情報の利用目的</h2>
              <p>
                取得した個人情報は、以下の目的で利用いたします。
              </p>
              <ul class="list-disc pl-5">
                <li>ユーザーアカウントの作成および管理</li>
                <li>ユーザーからのお問い合わせへの対応</li>
                <li>サービス向上のための分析</li>
                <li>必要に応じたユーザーへの連絡</li>
              </ul>
            </div>
            
            <div>
              <h2 class="font-bold">3. 個人情報の第三者提供</h2>
              <p>
                当サイトは、法令に基づく場合を除き、ユーザーの同意なく個人情報を第三者に提供することはありません。
              </p>
            </div>
            
            <div>
              <h2 class="font-bold">4. 個人情報の管理</h2>
              <p>
                ユーザーの個人情報を正確かつ最新の状態に保ち、不正アクセス、紛失、破壊、改ざん、漏洩などを防止するため、適切な安全対策を講じます。
              </p>
            </div>
            
            <div>
              <h2 class="font-bold">5. クッキー（Cookies）の使用について</h2>
              <p>
                当サイトでは、ユーザーの利便性向上やサイトの改善のため、クッキーを使用することがあります。ユーザーはブラウザの設定により、クッキーの受け入れを拒否することが可能です。
              </p>
            </div>
            
            <div>
              <h2 class="font-bold">6. プライバシーポリシーの変更</h2>
              <p>
                本ポリシーの内容は、必要に応じて見直し、改善することがあります。変更後のプライバシーポリシーは、当サイトに掲載した時点で効力を生じるものとします。
              </p>
            </div>

            <div>
              <h2 class="font-bold">7. アクセス解析ツール</h2>
              <p>
                提供者は，ユーザーのアクセス解析のために，「Googleアナリティクス」を利用しています。Googleアナリティクスは，トラフィックデータの収集のためにCookieを使用しています。 トラフィックデータは匿名で収集されており，個人を特定するものではありません。Cookieを無効にすれば，これらの情報の収集を拒否することができます。 詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて，詳しくは以下からご確認ください。
              </p>
              <p>
                <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="text-blue-500 underline" >
                  https://marketingplatform.google.com/about/analytics/terms/jp/
                </a>
              </p>
            </div>
          </div>
          
          <div class="mt-6 text-sm text-gray-500">
            最終更新日: <%= Date.today.strftime('%Y年%m月%d日') %>
          </div>
          
          <div class="mt-4">
            <%= link_to "ホームに戻る", root_path, class: "text-blue-500" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

